<!DOCTYPE html> 

<html> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <script src="https://unpkg.com/vue"></script> <!-- vue 불러오기 -->
        <title>schedule</title> 
    </head> 
    <body> 
        <div id = 'app'>
            <p>[[ title ]]</p> 
            <ul> 
                <li v-for="day in days">
                    <h4> Day [[ day ]] to do list</h4>
                </li> 
            </ul>
        </div>
    </body>        

</html>

<script>
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            title: 'Welcome My Schedule',
            days: [1, 2, 3, 4, 5]
        }
    })
</script>
